Repository Arquisoft/dede_en1b, pull requests merged in 2022-03, with the labels that each got.

#56 SOLID POD Access
  package-lock.json
  restapi/controller/OrderController.ts
  restapi/package-lock.json
  restapi/package.json
  restapi/routes/order.routes.ts
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/api/api.ts
  webapp/src/components/NavBar.tsx
  webapp/src/components/OrderCard.tsx
  webapp/src/components/SOLIDLogin.tsx
  webapp/src/components/Shipping.tsx
  webapp/src/components/UserProfile.tsx
  webapp/src/css/OrderCard.css
  webapp/src/css/SOLIDLogin.css
  webapp/src/css/Shipping.css
  webapp/src/css/UserProfile.css
  webapp/src/index.tsx
  webapp/src/shared/shareddtypes.ts
Labels: SOLID

#57 Updated documentation
  docs/02_architecture_constraints.adoc
  docs/03_system_scope_and_context.adoc
  docs/04_solution_strategy.adoc
  docs/05_building_block_view.adoc
  docs/06_runtime_view.adoc
  docs/09_design_decisions.adoc
Labels: documentation

#59 Access solid pod address
  webapp/src/components/CartItem.tsx
  webapp/src/components/Checkout.tsx
  webapp/src/components/CheckoutItem.tsx
  webapp/src/components/Footer.tsx
  webapp/src/components/MainProducts.tsx
  webapp/src/components/NavBar.tsx
  webapp/src/components/OrderCard.tsx
  webapp/src/components/ProductList.tsx
  webapp/src/components/SOLIDLogin.tsx
  webapp/src/components/Shipping.tsx
  webapp/src/components/ShoppingCart.tsx
  webapp/src/components/UserList.tsx
  webapp/src/components/UserProfile.tsx
  webapp/src/components/products/MainProducts.tsx
  webapp/src/components/products/ProductCard.tsx
  webapp/src/components/products/ProductPage.tsx
  webapp/src/css/Shipping.css
Labels: SOLID

#94 Refactor
  .github/workflows/asw2122.yml
  docker-compose-deploy.yml
  docs/02_architecture_constraints.adoc
  docs/03_system_scope_and_context.adoc
  docs/04_solution_strategy.adoc
  docs/05_building_block_view.adoc
  docs/06_runtime_view.adoc
  docs/09_design_decisions.adoc
  restapi/package-lock.json
  restapi/tests/api.test.ts
  webapp/package-lock.json
  webapp/src/App.tsx
  webapp/src/components/EmailForm.test.tsx
  webapp/src/components/EmailForm.tsx
  webapp/src/components/MainProducts.tsx
  webapp/src/components/ProductList.tsx
  webapp/src/components/UserList.test.tsx
  webapp/src/components/UserList.tsx
  webapp/src/components/Welcome.test.tsx
  webapp/src/components/Welcome.tsx
  webapp/src/components/cart/CartItem.tsx
  webapp/src/components/cart/ShoppingCart.tsx
  webapp/src/components/checkout-shipping/Checkout.tsx
  webapp/src/components/checkout-shipping/CheckoutItem.tsx
  webapp/src/components/checkout-shipping/Shipping.tsx
  webapp/src/components/fragments/Footer.tsx
  webapp/src/components/fragments/NavBar.tsx
  webapp/src/components/other/about_us.tsx
  webapp/src/components/user/OrderCard.tsx
  webapp/src/components/user/SOLIDLogin.tsx
  webapp/src/components/user/UserProfile.tsx
  webapp/src/css/App.css
  webapp/src/css/Footer.css
  webapp/src/css/NavBar.css
  webapp/src/css/index.css
  webapp/src/index.tsx
  webapp/src/logo.svg
Labels: enhancement
